{
  "workbench.colorCustomizations": {
    "editor.background": "@MIOS:bg@",
    "editor.foreground": "@MIOS:fg@",
    "activityBar.background": "@MIOS:accent@",
    "statusBar.background": "@MIOS:accent@",
    "terminalCursor.foreground": "@MIOS:cursor@"
  }
}
