{
  "schemes": [
    {
      "name": "MiOS",
      "background": "@MIOS:bg@",
      "foreground": "@MIOS:fg@",
      "cursorColor": "@MIOS:cursor@",
      "selectionBackground": "@MIOS:accent@",
      "black": "@MIOS:ansi_0_black@",
      "red": "@MIOS:ansi_1_red@",
      "green": "@MIOS:ansi_2_green@",
      "yellow": "@MIOS:ansi_3_yellow@",
      "blue": "@MIOS:ansi_4_blue@",
      "purple": "@MIOS:ansi_5_magenta@",
      "cyan": "@MIOS:ansi_6_cyan@",
      "white": "@MIOS:ansi_7_white@",
      "brightBlack": "@MIOS:ansi_8_bright_black@",
      "brightRed": "@MIOS:ansi_9_bright_red@",
      "brightGreen": "@MIOS:ansi_10_bright_green@",
      "brightYellow": "@MIOS:ansi_11_bright_yellow@",
      "brightBlue": "@MIOS:ansi_12_bright_blue@",
      "brightPurple": "@MIOS:ansi_13_bright_magenta@",
      "brightCyan": "@MIOS:ansi_14_bright_cyan@",
      "brightWhite": "@MIOS:ansi_15_bright_white@"
    }
  ],
  "profiles": {
    "defaults": {
      "colorScheme": "MiOS"
    }
  }
}
