[Unit]
Description=MiOS Apache Guacamole Web
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/guacamole/guacamole:latest
Network=mios.network
AutoUpdate=registry

[Service]
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target default.target
