[Unit]
Description=MiOS CrowdSec Dashboard
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/crowdsecurity/crowdsec:latest
Network=mios.network
AutoUpdate=registry

[Service]
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target default.target
