[Unit]
Description=MiOS Guacamole PostgreSQL
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/library/postgres:16
Network=mios.network
AutoUpdate=registry

[Service]
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target default.target
