[Unit]
Description=MiOS Apache Guacamole Daemon
After=network-online.target
Wants=network-online.target
# Defaults policy: enabled by default; auto-skips inside nested
# containers (guacd needs raw VNC/RDP socket access).
ConditionVirtualization=!container

[Container]
Image=docker.io/guacamole/guacd:latest
Network=mios.network
AutoUpdate=registry
User=mios-guacd
Group=mios-guacd

[Service]
Restart=on-failure
RestartSec=10
Delegate=yes

[Install]
WantedBy=multi-user.target default.target
