[Unit]
Description='MiOS' Guacamole PostgreSQL
After=network-online.target
Wants=network-online.target
# Defaults policy: enabled by default; auto-skips inside another
# container (postgres datadir on overlayfs-on-overlayfs is unreliable).
ConditionVirtualization=!container

[Container]
Image=docker.io/library/postgres:latest@sha256:78481659c47e862334611ccdaf7c369c986b3046da9857112f3b309114a65fb4
Network=mios.network
AutoUpdate=registry
User=mios-postgres
Group=mios-postgres

[Service]
Restart=on-failure
RestartSec=10
Delegate=yes

[Install]
WantedBy=multi-user.target default.target
