[Unit]
Description=MiOS Ollama LLM Server
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/ollama/ollama:latest
Network=mios.network
AutoUpdate=registry
User=mios-ollama
Group=mios-ollama

[Service]
Restart=on-failure
RestartSec=10
Delegate=yes

[Install]
WantedBy=multi-user.target default.target
