[Unit]
Description=D-Bus System Message Bus (WSL2 Fallback)
Documentation=man:dbus-daemon(1)
ConditionVirtualization=wsl
Requires=dbus.socket
After=dbus.socket
DefaultDependencies=no

[Service]
ExecStart=/usr/bin/dbus-daemon --system --address=systemd: --nofork --nopidfile --systemd-activation --syslog-only
ExecReload=/usr/bin/dbus-send --print-reply --system --type=method_call --dest=org.freedesktop.DBus / org.freedesktop.DBus.ReloadConfig
OOMScoreAdjust=-900

[Install]
WantedBy=multi-user.target
Alias=dbus.service
