[Unit]
Description=MiOS K3s worker role (agent)
Requires=multi-user.target
After=multi-user.target
AllowIsolate=yes
Wants=k3s-agent.service

[Install]
Alias=default.target.mios-k3s-worker