# AI-hint: Defines the endpoint systemd target for MiOS, representing an edge/client node.
# AI-related: mios-endpoint, mios-headless.target
[Unit]
Description='MiOS' Endpoint Role
Requires=multi-user.target
After=multi-user.target
Conflicts=mios-compute.target mios-controller.target mios-desktop.target mios-ha-node.target mios-headless.target mios-hybrid.target mios-k3s-master.target
AllowIsolate=yes

[Install]
WantedBy=multi-user.target
