[Unit]
Description='MiOS' Podman Garbage Collection
ConditionVirtualization=!container
[Service]
Type=oneshot
ExecStart=/usr/bin/podman system prune -a -f
