[Unit]
Description='MiOS' Hyper-V GPU-PV Guest Detection
DefaultDependencies=no
After=systemd-modules-load.service
Before=display-manager.service
ConditionVirtualization=microsoft

[Service]
Type=oneshot
ExecStart=/usr/libexec/mios/gpu-pv-detect
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
