[Unit]
Description='MiOS' WSL2 pre-sysinit fixups (rshared root + /dev/{net/tun,fuse})
Documentation=https://github.com/MiOS-DEV/MiOS
ConditionVirtualization=wsl
DefaultDependencies=no
After=systemd-tmpfiles-setup-dev.service systemd-remount-fs.service
Before=sysinit.target basic.target shutdown.target
Conflicts=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/mios/wsl-early
# Intentionally no sandboxing: this unit is what makes sandboxing possible
# for everything else. Setting any of {PrivateTmp, ProtectSystem,
# ReadWritePaths, ...} here would deadlock on the very issue we're fixing.

[Install]
WantedBy=sysinit.target
