[Unit]
ConditionVirtualization=!container
Description=MiOS-OS Cryptographic Integrity Audit (fs-verity)
DefaultDependencies=no
After=ostree-prepare-root.service
Before=sysroot.mount
Before=ostree-prepare-root.service
ConditionPathExists=/sysroot/ostree/deploy

[Service]
Type=oneshot
# Execute the verification script to validate fs-verity hashes
ExecStart=/usr/libexec/mios-verify
RemainAfterExit=yes

[Install]
WantedBy=initrd-root-fs.target
