# AI-hint: Defines the headless systemd target for MiOS, enforcing a non-GUI environment by conflicting with desktop, k3s-master, and ha-node targets to ensure a dedicated server-mode state.
/* AI-doc: usr/share/doc/mios/manual/system.md */
[Unit]
Description='MiOS' Headless Role
Requires=multi-user.target
After=multi-user.target
Conflicts=mios-compute.target mios-controller.target mios-desktop.target mios-endpoint.target mios-ha-node.target mios-hybrid.target mios-k3s-master.target
AllowIsolate=yes

[Install]
WantedBy=multi-user.target
