/* AI-hint: Defines the mios-desktop.target systemd unit to initialize the desktop environment, ensuring required virtualization services (libvirtd, virtnetworkd) are active while preventing concurrent headless or cluster-specific targets. */
/* AI-doc: usr/share/doc/mios/manual/system.md */
[Unit]
Description='MiOS' Desktop Role
Requires=multi-user.target gdm.service libvirtd.service libvirtd.socket virtnetworkd.service virtqemud.service virtstoraged.service virtnodedevd.service
After=multi-user.target
Conflicts=mios-compute.target mios-controller.target mios-endpoint.target mios-ha-node.target mios-headless.target mios-hybrid.target mios-k3s-master.target
AllowIsolate=yes

[Install]
WantedBy=multi-user.target
