[Unit]
Description='MiOS' System Init & Role Engine
ConditionVirtualization=!container
Wants=network-online.target
After=network-online.target local-fs.target sysinit.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/libexec/mios/role-apply
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
